footer {
  position: relative;
  padding: 5rem 0;
  background-color: $color-black-bg;
  color: $color-white;
  @include clearfix();
  .logo-text-footer {
    width: 25%;
    font-size: 4rem;
    font-weight: 400;
    text-transform: uppercase;
    float: left;
  }
  .footer_title {
    width: 300px;
    margin: 0 auto;
  }
  h3 {
    letter-spacing: 0.1rem;
    text-align: center;
    font-size: 5rem;
    padding: 2rem;
    overflow: hidden;
    background: linear-gradient(90deg, #000, #fff, #000);
    background-repeat: no-repeat;
    background-size: 80%;
    animation: animate 3s linear infinite;
    -webkit-background-clip: text;
    -webkit-text-fill-color: rgba(255, 255, 255, 0);
  }
  .listWrap {
    text-align: center;
    display: flex;
    justify-content: center;
  }

  a {
    font-size: 1.8rem;
    font-weight: 300;
    color: $color-grey-font;
  }
  .left {
    float: left;
    padding-right: 4rem;
    @include mq("small-screen-3") {
      padding: 1rem 0;
      border-right: none;
      float: none;
    }
  }
  .right {
    float: right;
    padding-left: 4rem;
    border-left: 1px solid $color-grey-font;
    @include mq("small-screen-2") {
      padding-left: 2rem;
    }
    @include mq("small-screen-3") {
      padding: 1rem 0;
      border-left: none;
      border-top: 1px solid $color-grey-font;
      float: none;
    }
  }
  .sns {
    text-align: center;
    padding: 4rem 0;
    strong {
      color: $color-white;
      &:before {
        content: "";
        display: inline-block;
        width: 26px;
        height: 26px;
        background: url(http://www.system.co.kr/resources/pc/syext/images/icon_insta.png) 50% 50% no-repeat;
        margin-top: -3px;
        margin-right: 10px;
        vertical-align: middle;
      }
    }
  }
  .footer_btn {
    padding-bottom: 2rem;
    margin: 0 auto;
  }
}
