main {
  width: 100%;
  height: 100vh;
  position: relative;
  @include clearfix();
  background-color: $color-white;
  .section-about {
    padding: 7rem 0 0.5rem 0;
    width: 60%;
    height: 100vh;
    float: left;
    @include clearfix();
    @include mq("small-screen-1") {
      width: 100%;
    }
    @include mq("small-screen-2") {
      width: 100%;
      height: 54rem;
      padding: 7rem 6rem 6.5rem 6rem;
    }
    @include mq("small-screen-3") {
      width: 100%;
      height: 60rem;
      padding: 7rem 6rem 6.5rem 6rem;
    }
    .main_title {
      position: relative;
      h2 {
        position: absolute;
        animation: animText 7s steps(17) infinite;
        -webkit-background-clip: text;
        overflow: hidden;
      }
    }
    h3 {
      position: absolute;
      top: 25%;
      display: block;
    }
    &-video {
      position: absolute;
      top: 40%;
    }
    &-video iframe {
      width: 800px;
      height: 500px;
    }
  }
}

.section-text {
  float: left;
  margin: 425px 0;
  @include mq("small-screen-1") {
    width: 100%;
  }
  @include mq("small-screen-2") {
    width: 100%;
  }
  @include mq("small-screen-3") {
    width: 100%;
  }
  p {
    font-size: 1.8rem;
  }
}
