.scroll {
  width: 60px;
  height: 60px;
  border: 2px solid $color-grey-font;
  border-radius: 50%;
  position: absolute;
  bottom: 3%;
  right: 50%;
  animation: down 1.5s infinite;
  -webkit-animation: down 1.5s infinite;
  @include mq("small-screen-3") {
    width: 40px;
    height: 40px;
  }
  &::before {
    content: "";
    position: absolute;
    top: 15px;
    left: 18px;
    width: 18px;
    height: 18px;
    border-left: 2px solid $color-grey-font;
    border-bottom: 2px solid $color-grey-font;
    transform: rotate(-45deg);
    @include mq("small-screen-3") {
      top: 10px;
      left: 12px;
      width: 10px;
      height: 10px;
    }
  }
}
.more_btn1 {
  width: 280px;
  height: 70px;
  border: 1px solid $color-white;
  position: absolute;
  bottom: 10rem;
  left: 24rem;
  cursor: pointer;
  z-index: 999;
  @include mq("small-screen-1") {
    width: 200px;
    height: 60px;
  }
  @include mq("small-screen-2") {
    width: 200px;
    height: 60px;
    bottom: 3rem;
    left: 40rem;
  }
  @include mq("small-screen-3") {
    width: 120px;
    height: 40px;
    bottom: 2.5rem;
    left: 22rem;
  }
  a {
    color: $color-white;
    font-size: 1.8rem;
    text-decoration: none;
    line-height: 6.5rem;
    padding-left: 3rem;
    @include mq("small-screen-1") {
      font-size: 1.6rem;
      line-height: 5.5rem;
    }
    @include mq("small-screen-2") {
      font-size: 1.6rem;
      line-height: 5.5rem;
    }
    @include mq("small-screen-3") {
      padding-left: 1.8rem;
      font-size: 1.4rem;
      line-height: 2rem;
    }
  }

  &:hover {
    box-shadow: 1px 1px $color-white, 2px 2px $color-white, 3px 3px $color-white;
    transform: translateX(-3px);
  }
  a:after {
    content: "→";
    position: absolute;
    right: 35px;
    bottom: 0;
    display: block;
    font-size: 3rem;
  }
}
.more_btn2 {
  width: 280px;
  height: 70px;
  border: 1px solid $color-black-bg;
  position: absolute;
  cursor: pointer;
  margin-top: 30px;
  @include mq("small-screen-1") {
    width: 200px;
    height: 60px;
  }
  @include mq("small-screen-2") {
    width: 200px;
    height: 60px;
    bottom: -45%;
  }
  @include mq("small-screen-3") {
    width: 120px;
    height: 40px;
    bottom: -7rem;
    left: 10rem;
  }
  &:hover {
    box-shadow: 1px 1px $color-black-bg, 2px 2px $color-black-bg, 3px 3px $color-black-bg;
    transform: translateX(-3px);
  }
  a {
    color: $color-black-font;
    font-size: 1.8rem;
    text-decoration: none;
    line-height: 6.5rem;
    padding-left: 3rem;
    @include mq("small-screen-1") {
      font-size: 1.6rem;
      line-height: 5.5rem;
    }
    @include mq("small-screen-2") {
      font-size: 1.6rem;
      line-height: 5.5rem;
    }
    @include mq("small-screen-3") {
      padding-left: 1.8rem;
      font-size: 1.4rem;
      line-height: 2rem;
    }
  }
  a:after {
    content: "→";
    position: absolute;
    right: 35px;
    bottom: 0;
    display: block;
    font-size: 3rem;
  }
}
.footer_btn {
  position: relative;
  width: 350px;
  height: 70px;
  border: 1px solid $color-white;
  cursor: pointer;
  @include mq("small-screen-3") {
    width: 300px;
    height: 70px;
  }
  a {
    color: $color-white;
    font-size: 1.8rem;
    text-decoration: none;
    line-height: 6.5rem;
    padding-left: 6rem;
    @include mq("small-screen-3") {
      font-size: 1.6rem;
    }
  }
  a::before {
    content: "←";
    position: absolute;
    left: 2rem;
    bottom: 0;
    display: block;
    font-size: 4rem;
  }
  &:hover {
    box-shadow: 1px 1px $color-white, 2px 2px $color-white, 3px 3px $color-white;
    transform: translateX(-3px);
  }
}
